.notificationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    background-color: white;
    margin: 0 auto;
    border-radius: 6px;
    width: 20rem;
    padding:1rem;
  }

  .notificationIconContainer {
    padding: 0.75rem;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
  }
  .notificationIcon {
    height: 1.6rem;
    width: 1.6rem;
    padding: 2px 0;
    background-color: lightblue;
    border-radius: 65%;
    border: 1px solid black;
    margin: 2px 0;
    z-index: 5;
  }
  
  .errorContainer {
    background-color: #FF9088;;
  }
  .successContainer {
    background-color: #71B670;
  }

  .error {
    background-color: #FF9088;;
  }
  .warning {
    background-color: yellow;
  }
  .success {
    background-color: #7CEB7A;
  }

  .messageHeading {
    font-family:"Poppins-Bold";
    color: white;
    font-size: 0.75rem;
    margin: 0;
    text-align: left;
  }

  .message {
    color: white;
    font-family:"Poppins-Medium";
    font-size: 0.65rem;
    margin: 0;
    text-align: left;
  }

  .hide{
    visibility: hidden;
  }